# Copy file ini jadi .env (bukan .env.example), isi sesuai punya kamu.
# File .env ini TETAP DI VM SAJA, jangan pernah di-commit ke GitHub.

IMAGE=namadockerhubkamu/portfolio-hilmy:latest
CONTAINER_NAME=portfolio
HOST_PORT=8080
CONTAINER_PORT=8080